*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    /* background: rgba(255, 255, 255, 1); */
    outline: none;
    color: #212353;

}

.container {
    display:grid;
    height:250vh;
    width:100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px auto auto auto auto auto auto auto ;
    border: 1px solid red;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "submain submain submain submain"
    "features features features features"
    "content1 content1 content2 content2"
    "content3 content3 content4 content4"
    "testimonials testimonials testimonials testimonials"
    "footer footer footer footer";
}



.button {
        border-radius: 50px;
        
    }


/* Navbar */
nav{
    /* display:grid; */
    background: #a7ffeb;
    grid-area: nav;
   

}
main{
    /* background: #7c7a0e; */
    grid-area: main;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* position: relative; */
    margin: 5rem 6rem 0rem 6rem;
    position: relative;
    border: 2px solid red;
    max-height: 754px;
    min-height: 500px;
    
}

.main_content{
    display: grid;
    position: absolute;
    max-width: 55%;
    max-height: 100%;
    top:0;
    left:0;
    z-index: 1;
}

.main_title{
    display: flex;
    font-weight: 700;
    font-size: 5vw;
    margin-bottom: 50px;
    color: #212353;
    border: 1px solid orange;
}

.main_text{
    max-width: 50%;
    font-size: 1.2rem;
}

.purpleButton {
    background-color: #9C69E2;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
}

.main_image{
    position: absolute;
	bottom:0;
	right:0;
	width:75%;
	/* height: ; */
	object-fit:cover;
	z-index:0; 
}

/* End of main */


.submain{
    background: rgba(240, 99, 184, 0.15);
    grid-area: submain ;
    border-radius: 50px;
    margin: 5rem 9rem 0rem 9rem;
    /* display: block; */
    /* min-height: 450px;
    max-height: 560px;
    position: relative; */

    /* grid-area: main; */
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* position: relative; */
    /* margin: 5rem 6rem 0rem 6rem; */
    position: relative;
    border: 2px solid red;
    max-height: 754px;
    min-height: 500px;

}

.submain_content{
    border: 1px solid aqua;
    /* position: absolute; */
    right: 0;
    /* top: 25%; */
    /* height: 50%; */


    /* display: block; */
    /* text-align:left; */

    
    display:block;
    position: absolute;
    max-width: 55%;
    max-height: 100%;
    top:0;
  
    z-index: 1;

}

.submain_title{
     

     display: flex;
     font-weight: 700;
     font-size: 3rem;
     margin-bottom: 40px;
     color: #212353;
     border: 1px solid orange;
}

.submain_text{
    max-width: 50%;
    font-size: 1.2rem;
}

.submain_image{
    

    position: absolute;
	/* bottom:10px; */
	left:0;
    top: 20%;
	width:60%;
    height: 60%;
	/* height: ; */
	object-fit:cover;
	z-index:0; 
    border: 1px solid red;
}








.features{
    background: #08a0a0;
    grid-area: features ;
}

.content1{
    background: #f1ee09;
    grid-area: content1;
    margin: 1em;
}

.content2{
    background: #7c7a0e;
    grid-area: content2;
}

.content3{
    background: #90f012;
    grid-area: content3;
}

.content4{
    background: #a36e1f;
    grid-area: content4;
}

.box-4{
    background: #3937c0;
    grid-area: testimonials;
}

footer{
    background: #d6297a;
    grid-area: footer;
}

@media only screen and (min-width:40em) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows:  .2fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "submain"
        "features"
        "content1"
        "content2"
        "content3"
        "content4"
        "testimonials"
        "footer"
    }

    main{
        /* all: unset; */
        grid-area: main;
        display: block;
        /* grid-template-columns: 1fr 1fr; */
        /* position: relative; */
        margin: 1rem;
        position: relative;
        border: 2px solid green;
        /* max-height: 754px; */
        /* min-height: 500px; */
    }

    .main_content{
        display: block;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top:0;
        left:0;
        z-index: 1;
        text-align: center;
    }

    .main_title{
        display: block;
        font-weight: 700;
        font-size: 10vw;
        margin-bottom: 50px;
        color: #212353;
        border: 1px solid orange;
    }
    
    .main_text{
        max-width: 100%;
        font-size: 1.2rem;
        
    }

    .main_image{
        position: absolute;
        bottom:0;
        /* right: ; */
        width:100%;
        
        /* height: ; */
        object-fit:cover;
        z-index:0; 
    }

   
   
    

   


}

/* 
:root {
    --background: rgba(255, 255, 255, 1);
}



header{
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index:999;
    width: 100vw;
}

nav {
    position:absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    left: 0;
    
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.button {
    display:flex;
    text-align: center;
    justify-content: center;
 
    

    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    

    padding: .5rem;
	border-radius: 50px;
    
	color:rgba(33, 35, 83, 1);
	font-weight: bold; 
}



nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(75, 93, 104, 1);

    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color:rgba(33, 35, 83, 1);
}

.nav-toggle {
    display: none;
}
.nav-toggle:checked ~ nav{
   
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label{
     position:absolute;
     top: 0;
     left: 0;
     margin-left: 1em;
     height: 100%;
     display: flex;
     align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: rgba(75, 93, 104, 1);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;   
}

.nav-toggle-label span::after{
    top: 7px;   
}



.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    border: 1px solid red;
}

.section-main-header {
   
}







@media screen and (min-width: 400px){
    .nav-toggle-label{ 
         display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
        border: 1px solid red;

     } 
    .logo {
        grid-column: 2 / 3;
    } 
     nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid red;
    }
   nav a{
        opacity: 1;
    }
    nav ul{
        display: flex;
        justify-content: flex-start;
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }


}


*/