:root{
    --clr-primary-100:#FFFFFF;
    --clr-primary-200:rgba(104, 201, 186, .1);
    --clr-primary-300:rgba(240, 99, 184, 0.15);
    --clr-primary--350:#F063B8;

    
    --clr-primary-400:rgba(156, 105, 226, .1);
    --clr-primary-450:#9C69E2;
    
    --clr-primary-500:rgba(45, 156, 219, .1);
    --clr-primary-800:#212353;
    --clr-primary-900: #4B5D68;
    

    
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin:0;
}

body{
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    /* font-size: 1.3125rem; */
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: .5em;
    color:var(--clr-primary-800);
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}

h5,
h6,
a{
    color: var(--clr-primary-800);
}

p{
    margin-bottom: 1em;
    color: var(--clr-primary-900);
}

.bg-pink{
    background-color: var(--clr-primary-300);
  }
  .bg-hotpink{
      color: var(--clr-primary-100);
      background-color: var(--clr-primary--350);
  }
.bg-blue{
    background-color: var(--clr-primary-500);
}
.bg-purple{
    background-color: var(--clr-primary-400);
}
.bg-violet{
    color: var(--clr-primary-100);
    background-color: var(--clr-primary-450);
}
.bg-green{
    background-color: var(--clr-primary-200);
}

section{
    padding: 3rem 0;
}
.container{
    margin-inline: auto;
    width: min(90%, 65rem);
}

/* .main_image{
    width:100%;
    border:1px solid blue;
}

.image__2{
    width:50%;
    border: 1px solid red;
} */

img{
    max-width: 100%;
    display: block;
    border: 1px solid red;
}

button {
    border-radius: 3.125rem;
}

.button__request{
    color: var(--clr-primary-800);
}

.button__learn{

}


main{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid red;
}

main div{
    position:absolute;
    text-align: left;
    width: 55%;
}

.main_image{
    /* position:absolute; */
    /* bottom: 0;
    right: 0; */
    width: 65%;
    margin-left: auto;
    margin-top:4.35rem;
}

@media only screen and (max-width: 55rem) {
    .container{
        text-align:center;
    }

    img{
        margin-left: auto;
        margin-right: auto;
    }

    main div{
        position:static;
        text-align: center;
        width: 100%;
    }
    .main_image{
        width:100%;
        margin-top: 1rem;
        
    }
    
}