*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);

}

.container {
    display:grid;
    height:250vh;
    width:100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid red;
}

nav{
    background: #a7ffeb;
    grid-column: 3/12;
    grid-row: 1/2;
}

main{
    background: #84ffff;
    grid-column: 3/12;
    grid-row: 2/3;
}

.box-2{
    background: #299191;
    grid-column: 3/11;
    grid-row: 3/4;
}

.features{
    background: #08a0a0;
    grid-column: 3/11;
    grid-row: 4/5;
}

.content1{
    background: #f1ee09;
    grid-column: 3/7;
    grid-row: 5/6;
    margin: 1em;
}

.content2{
    background: #7c7a0e;
    grid-column: 7/11;
    grid-row: 5/6;
}

.content3{
    background: #90f012;
    grid-column: 3/7;
    grid-row: 6/7;
}

.content4{
    background: #a36e1f;
    grid-column: 7/11;
    grid-row: 6/7;
}

.box-4{
    background: #3937c0;
    grid-column: 3/11;
    grid-row: 7/8;
}

footer{
    background: #d6297a;
    grid-column: 3/11;
    grid-row: 8/9;
}


/* 
:root {
    --background: rgba(255, 255, 255, 1);
}



header{
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index:999;
    width: 100vw;
}

nav {
    position:absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    left: 0;
    
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.button {
    display:flex;
    text-align: center;
    justify-content: center;
 
    

    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    

    padding: .5rem;
	border-radius: 50px;
    
	color:rgba(33, 35, 83, 1);
	font-weight: bold; 
}



nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(75, 93, 104, 1);

    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color:rgba(33, 35, 83, 1);
}

.nav-toggle {
    display: none;
}
.nav-toggle:checked ~ nav{
   
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label{
     position:absolute;
     top: 0;
     left: 0;
     margin-left: 1em;
     height: 100%;
     display: flex;
     align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: rgba(75, 93, 104, 1);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;   
}

.nav-toggle-label span::after{
    top: 7px;   
}



.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    border: 1px solid red;
}

.section-main-header {
   
}







@media screen and (min-width: 400px){
    .nav-toggle-label{ 
         display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
        border: 1px solid red;

     } 
    .logo {
        grid-column: 2 / 3;
    } 
     nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid red;
    }
   nav a{
        opacity: 1;
    }
    nav ul{
        display: flex;
        justify-content: flex-start;
    }

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }


}


*/